<!DOCTYPE html>
{% load static %}
{% static "images" as baseimg%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M and R</title>
    <link rel="stylesheet" href="{%static 'css/Home.css'%}">
    <link rel="stylesheet" href="{%static 'css/store.css'%}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      .active{
        color: blueviolet;
      } 
    </style>
  </head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{%static 'image/logo.png' %}" alt=""></a>
        </div>
        <nav>
            <ul>
              <li><a href="{% url 'storehome' %}">Home</a></li>
              <li><a href="{% url 'laptop' %}">Laptop</a></li>
              <li><a href="{% url 'desktop' %}" class="active">Desktop</a></li>
              <li><a href="{% url 'keyboardandmouse' %}">Keyboard and Mouse</a></li>
              <li><a href="{% url 'other' %}">Other</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="filter-form-container">
          <form action="store" method="post">
            {% csrf_token %}
            <input type="text" name="filtertext" placeholder="Serach">
            <input type="submit">
          </form>
        </div>
        <div class="store-container">
            <p style="font-size: 30px;">All</p>
            <hr>
            <div class="laptop-container">
              {% for lobj in lapobj %}
              <div class="card" style="width: 25rem;">
                <img src="{{lobj.img.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: blueviolet;">{{lobj.name}}</h5>
                  <p class="card-text"><b>Estimated Value:</b> {{lobj.price}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>Processor: </b>{{lobj.processor}}</li>
                  <li class="list-group-item"><b>Graphics: </b>{{lobj.graphics}}</li>
                  <li class="list-group-item"><b>RAM: </b>{{lobj.ram}}</li>
                  <li class="list-group-item"><b>Storage: </b>{{lobj.storage}}</li>
                  <li class="list-group-item"><b>Screen: </b>{{lobj.screen}}</li>
                </ul>
                <div class="card-body card-button">
                  <a href="#" class="card-link" style = "text-decoration: none; color: white; background: blueviolet; padding: 10px; border-radius:5px;">Buy</a>
                  <a href="#" class="card-link" style = "text-decoration: none; color: white; background: blueviolet; padding: 10px; border-radius:5px;">Bargain</a>
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="specificlaptop-container">
              {%for bobj in brand%}
              <p style="font-size: 30px; margin-top:20px;">{{bobj.name}}</p>
              <hr>
              
              <div class="laptop-container">
                {% for lobj in lapobj%}
                {% if bobj.name in lobj.name %}
                <div class="card" style="width: 25rem;">
                  <img src="{{lobj.img.url}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title" style="color: blueviolet;">{{lobj.name}}</h5>
                    <p class="card-text"><b>Estimated Value:</b> {{lobj.price}}</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Processor: </b>{{lobj.processor}}</li>
                    <li class="list-group-item"><b>Graphics: </b>{{lobj.graphics}}</li>
                    <li class="list-group-item"><b>RAM: </b>{{lobj.ram}}</li>
                    <li class="list-group-item"><b>Storage: </b>{{lobj.storage}}</li>
                    <li class="list-group-item"><b>Screen: </b>{{lobj.screen}}</li>
                  </ul>
                  <div class="card-body card-button">
                    <a href="#" class="card-link" style = "text-decoration: none; color: white; background: blueviolet; padding: 10px; border-radius:5px;">Buy</a>
                    <a href="#" class="card-link" style = "text-decoration: none; color: white; background: blueviolet; padding: 10px; border-radius:5px;">Bargain</a>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
              {% endfor %}
            </div>
        </div>


        <hr>
      <footer>
        <div class="footer-info">
          <div class="copywright">
            COPYRIGHT © 2021 M & R SOLUTION - DESIGNED BY M & R SOLUTION
          </div>
          EMAIL : <span style="color: tomato;">INFO@MRSOLUTION.COM.NP</span> <br>
          MOBILE: <span style="color: tomato;">9851193561 , 9801093561</span> <br>
          TELEPHONE: <span style="color: tomato;">01-4430696 , 01-4438465</span> <br>
        </div>
      </footer>


    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>